
.cart{
    background-image: url("../../Donuts/bg.jpg");
    background-repeat: no-repeat; 
     background-position:center;
    background-size: cover;
    height: 100vh;
}
.cart-header{
    width: 1000px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    margin: auto;
    overflow: hidden;
    padding: 1.5rem;
}
.cart-header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
  
}
.cart-header ul li{
    min-width: 15%;
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;

}
.cart-items ul li:nth-last-child(2),.cart-items ul li:nth-last-child(1){
    font-size: 1.5rem;
}
.cart-items ul li img{
    width: 80px;
    border-radius: 0.7rem;
}
.cart-header h1{
    text-align: center;
    font-weight: bolder;
}
.cart-header h2{
    text-align: center;
}

.cart-btns{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}


.cart-btns input{
    padding: 1rem 1.7rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color:transparent;
    border: 1px solid white;
    border-radius: 0.7rem;
}