.home-page{
    background-image: linear-gradient(to right, rgba(221, 221, 221, 0.477),   rgba(83, 175, 251, 0.759),  rgba(31, 114, 182, 0.759));
    min-height: 100vh;
    display: grid;
}
.weather{
    display: flex;
     place-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, rgba(221, 221, 221, 0.477),   rgba(83, 175, 251, 0.759),  rgba(31, 114, 182, 0.759));
    width: 800px;
    border-radius: 0.7rem;
    height: 650px;
    text-align: center;
    padding: 1.5rem;
}

.search-bar input{
    padding: 0.7rem;
    padding-left: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.7rem;
    background-image: linear-gradient(to right, rgba(221, 221, 221, 0.477),   rgba(83, 175, 251, 0.759),  rgba(31, 114, 182, 0.759));
    color: white;
    width: 70%;
    font-size: 1rem;
    
}

.search-bar button{
    padding: 0.7rem;
    border-radius: 25px;
    margin-left: 1rem;
    background-image: linear-gradient(to right, rgba(221, 221, 221, 0.477),   rgba(83, 175, 251, 0.759),  rgba(31, 114, 182, 0.759));
    border: none;
    cursor: pointer;
    color: white;
}
.weather-data{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.weather-state{
    color: white;
    margin: 1.2rem;
   
}
.weather-state h1{
    font-size: 1.2rem;
}
.weather-state img{
    width: 70px;
}
.temperature{
   
    margin: 1rem;
    color: white;
}
.temperature h1{
    font-size: 1.5rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.2rem 0;
}
.humidity , .wind{
    display: flex;
    justify-content: space-between;
    color: white;
}
.humidity p, .wind p{
    font-size: 1.1rem;
    font-weight: bolder;
}

.humidity img, .wind img{
    width: 30px;
    margin:  0.5rem;
}
.city-not-found{
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 60%;
}
.degree span{
    font-size: 1.1rem;
}
/* Weather Forecast */
.weather-forecast{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 1.1rem;
    font-weight: bolder;
    color: white;
  
}
.weather-forecast ul{
    list-style-type: none;
}
.weather-forecast ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.weather-forecast .forecast-temp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-forecast .forecast-temp img{
    width: 40px;
    margin-right: 0.2rem;
}

.day-forecast{
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .weather{
        width: 700px;
    }


}

@media screen and (max-width: 800px) {
    .weather{
        width: 500px;
    }
    .weather-forecast .forecast-temp img{
        width: 40px;
        margin-right: 0.2rem;
    }
    .search-bar input , .search-bar button{
        padding: 0.5rem;
    }
    .weather-state h1, .temperature h1 {
        font-size: 1.1rem;
        
    }
     .humidity p, .wind p{
        font-size: 0.8rem;

        
     }
     .humidity img, .wind img{
        height: 30px;
        margin:  0.3rem;
    }
    .weather-state img{
        width: 45px;
    }
    .weather-data{
        flex-wrap: nowrap;
    }

}

@media screen and (max-width: 500px) {
    .weather{
        width: 350px;
    }
    .weather-forecast .forecast-temp img{
        width: 40px;
        margin-right: 0.2rem;
    }
    .search-bar input , .search-bar button{
        padding: 0.5rem;
    }
    .weather-state h1, .temperature h1 {
        font-size: 1.1rem;
        
    }
     .humidity p, .wind p{
        font-size: 0.8rem;

        
     }
     .humidity img, .wind img{
        height: 30px;
        margin:  0.3rem;
    }
    .weather-state img{
        width: 45px;
    }
    .weather-data{
        flex-wrap: nowrap;
    }

}