.day-forecast{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 99%;
    height: 140px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0.7rem;
}
.day-hour-forecast,  .day-icon-forecast .day-degree-forecast , .day-chart-forecast{
    margin-bottom: 0.4rem;
}



.day-hour-forecast ul, .day-icon-forecast ul, .day-degree-forecast ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    color: rgba(255, 255, 255, 0.704);
}
.day-icon-forecast img{
    width: 30px;
}
.day-hour-forecast ul li{
  font-size: 1.1rem;
}
.day-degree-forecast ul li{
    color: white;
    font-size: 1.1rem;
}



